<div class="nav-container">
  <nav class="custom-navbar">
    <ng-container *ngIf="homeSectionEnabled">
      <button mat-button routerLink="/">Home</button>
    </ng-container>
    <ng-container *ngIf="postRequestsEnabled">
      <button mat-button routerLink="/posts">Posts</button>
    </ng-container>
    <ng-container *ngIf="postRequestsEnabled">
      <button mat-button routerLink="/categories">Categories</button>
    </ng-container>
    <ng-container *ngIf="postRequestsEnabled">
      <button mat-button routerLink="/request">Request</button>
    </ng-container>
    <ng-container *ngIf="postRequestsEnabled">
      <button mat-button routerLink="/about">About</button>
    </ng-container>
    <img clas="navbar-logo" src="../favicon.ico" alt="logo-website">
  </nav>
</div>
<router-outlet></router-outlet>
