:root {
	--regular-font: 'Inter', sans-serif;
}

footer {
  height: 5px;
  position: absolute;
  text-align: right;
  margin-left: 10px;
}

.nav-container{
  padding: 10px;
}

nav{
  background-color: #27005D;
  font: var(--regular-font);
  border-radius: 25px;
  padding: 10px;
}


img{
  float: right;
  height: 38px;
  width: 38px;
  margin-right: 20px;
}

button{
  color: aliceblue;
}

button:hover{
  background-color: #9400FF;
  color: white;
  font-style:normal;
  transition: 1s;
}
